{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Changer mot de passe</h1>
        <br>
        {{ form(form    ) }}
    </div>
{% endblock %}