$headings-color: rgb(7,22,73);
@import "~bootstrap/scss/bootstrap";

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.scrollable {
  max-height: 150px;
}

//On met du style sur les images de la div form-image
.form-image img {
  border-radius: 10%;
  height: 400px;
}