{% extends 'rh/demandesCompte.html.twig' %}
{% block validerSupprimer %}
    <td>
        <a href="{{ path('modifierDemandeCompteUser', {'id': demande.id}) }}" class="btn btn-primary">Modifier</a>
    </td>
{% endblock %}
{% block bas %}
<div class="container">
    <h2 class="text-center">Formulaire demande de compte</h2>
    {{ form(formDemandeCompte) }}
</div>
{% endblock %}