{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Redirection Mail</h1>
        <br>
        {{ form(formContacts) }}
    </div>

{% endblock %}