<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CNRS INTRANET{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/IPHC.png') }}" />
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_link_tags('app') }}
        {% block javascripts %}{% endblock %}
    </head>
  <body class="d-flex flex-column h-100">    
        {% include 'header.html.twig' %}
        {% include 'alert.html.twig'%}
        {% block body %}
            
            
        {% endblock %}
        {% include 'footer.html.twig' %}
  </body>
</html>
