<footer class="footer mt-auto py-3 ">
  <div class="">
    <span class="text-light">    
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{{path('mesInfos')}}" class="nav-link px-2 text-muted">User</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Groupes</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Outils</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Ressources</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">R.H.</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Admin</a></li>
      </ul>
        <p class="text-center text-muted">&copy; 2024 IPHC IN2P3 CNRS</p>
    </span>
  </div>
</footer>