{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h5>Ce formulaire doit être rempli afin de pouvoir, vous contactez en cas de perte de votre mot de passe principal</h5>
        {{form(formContacts)}}
    </div>    
{% endblock %}